body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-align: center;
  background-image: url('http://66.media.tumblr.com/e8acb221685eb2c7eba6165df72490cf/tumblr_o1l4rtwOVI1qkprgpo5_1280.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #50e3c2;
  text-align: center;
}

main {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 20px;
}

h1 {
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size: 64px;
    color: #aeaeae;
}

.jumbotron {
  background-size: cover;
  color: #ffffff;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  flex-direction: column;
  width: 720px;
  background-color: #787E7D;
  margin: 20px auto;
  justify-content: center;
  align-content: space-between;
}

.button-text {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
  width: 70px;
}

.button-text:hover{
  color: #ffffff;
  background-color: #fbd1d5;
}

.inputfield {
  display: flex;
  flex-direction: column;
  margin: 20px 50px;
  color: #9b9b9b;
}

input[type="text"] {
  min-width: 80%;
  background-color: #ffffff;
  color: #9b9b9b;
}

input {
  margin: 5px;
}

button {
  margin: 5px;
}

p {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 25px;
  color: #aeaeae;
  margin: 10px;
}
